# Ignore node_modules (installed dependencies)
node_modules
npm-debug.log
pnpm-debug.log
yarn-debug.log
yarn-error.log

# Ignore logs
logs
*.log

# Ignore build output
dist
build

# Ignore environment variables
.env
.env.local
.env.*.local

# Ignore temporary files
*.swp
*.swo
*.tmp
*.temp

# Ignore editor and IDE files
.vscode
.idea
*.iml
.DS_Store

# Ignore Docker files themselves
Dockerfile
docker-compose.yml